.nadpis{
    text-align: center;
}

.odkaz-certifikat {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    margin: 20px 0;
}

.page-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
}

section {
  margin: 4rem 0;
}

.hero {
  margin-top: 4rem;
  margin-bottom: 5rem;
}

.card {
  margin-bottom: 1.5rem;
}

h1, h2 {
  margin-bottom: 2rem;
}

footer {
  margin-top: 4rem;
}

main section {
  margin: 4rem 0;
}

.nadpis {
  margin-bottom: 3rem;
}

.card img {
  object-fit: cover;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;   
  gap: 2rem;                
  margin: 0 auto;           
  max-width: 1000px;        
}

.gallery .card {
  width: 300px;            
  display: flex;
  flex-direction: column;
}

.gallery img {
  max-width: 300px;
  width: 100%;
  border-radius: 8px;
}


@media (max-width: 768px) {
  .gallery .card {
    width: 100%;
  }
}

